<!DOCTYPE html>
<html>
<head>
    <title>New Sheet</title>
    <style>
        <%- include ('../style/style.css') %>
    </style>
</head>
<body>
    <div class="container">
        <nav>
            <%- include ('../partials/nav.ejs') %>
        </nav>
        <h3>Create a new Sheet</h3>

        <form action="/home/library" method="POST">
            <label for="title">Title: </label>
            <input name="title" type="text"/><br/>

            <label for="img">Img URL: </label>
            <input name="img" type="text"/><br/>

            <label for="comp">Composer: </label>
            <input name="comp" type="text"/><br/>

            <input type="submit" value="create"/><br/>
        </form>
    </div>
</body>
</html>