<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <nav>
            <%- include ('../partials/nav.ejs') %>
        </nav>

        <form action="/home/library" method="POST">
            <label for="title">Title: </label>
            <input name="title" type="text"/><br/>

            <label for="sheetSrc">Img URL: </label>
            <input name="sheetSrc" type="text"/><br/>

            <label for="composer">Composer: </label>
            <input name="composer" type="text"/><br/>

            <input type="submit" value="create"/><br/>
        </form>
    </div>
</body>
</html>