<!DOCTYPE html>
<html>
<head>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <nav>
            <h1 class="logo">Musique</h1>
            <ul class="right">
                <li><a href="#">Sign Up</a></li>
                <li><a href="#">Log In</a></li>
            </ul>
        </nav>
        <div class="banner">
            <h2>Find your favorite practice material all in one place.</h2>
        </div>
    </div>
</body>
</html>