<!DOCTYPE html>
<html>
<head>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <nav>
            <%- include ('../partials/nav.ejs') %>
        </nav>
        
        <div class="banner">
            <h2>Find your favorite practice material all in one place.</h2>
        </div>
    </div>
</body>
</html>