<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <style>
        <%- include ('../style/style.css') %>
        .banner {
            background-image: url('https://i.pinimg.com/originals/a8/77/ef/a877ef08bf5fed195b45253aba85cb98.jpg');
            height: 250px;
            margin: 20px 0;
            padding: 50px 0 0 50px;
        }
        h2 {
            max-width: 200px;
            color: #f0ece3;
        }
    </style>
</head>
<body>
    <div class="container">
        <nav>
            <%- include ('../partials/nav.ejs') %>
        </nav>
        
        <div class="banner">
            <h2>Find your favorite practice material all in one place.</h2>
        </div>
    </div>
</body>
</html>