<!DOCTYPE html>
<html>
<head>
    <title>Log In</title>
    <style>
        <%- include ('../style/style.css') %>
    </style>
</head>
<body>
    <div class="container">
        <nav>
            <%- include ('../partials/nav.ejs') %>
        </nav>
        
        <h1>Log In</h1>
        <!-- <form action="/home/library">
            <label for="username">Username: </label>
            <input type="text" name="username" required/>

            <label for="password">Password: </label>
            <input type="text" name="password" required/>

            <input type="submit" value="Submit"/>
        </form> -->
        <button><a href="/home/library">Log In</a></button>
    </div>
    
</body>
</html>