<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
    <style>
        <%- include ('../style/style.css') %>
    </style>
</head>
<body>
    
    <div class="container">
        <nav>
            <%- include ('../partials/nav.ejs') %>
        </nav>
        <h3>Make an Account</h3>

        <form action="" method="">
            <label for="username">Username: </label>
            <input type="text" name="username" required/>

            <label for="password">Password: </label>
            <input type="text" name="password" required/>

            <input type="submit" value="Submit"/>
        </form>
    </div>
</body>
</html>